
@{
    ViewBag.Title = "Welcome";

}
<body style="background-color:darkorchid; color:white">

    @if (Session["EmailId"] !=null && Session["Password"]  != null)
        
        {
            <div class="LoggedIn" align="center">
                <h1> Welcome @Session["EmailId"].ToString()</h1>
                @Html.ActionLink("Logout", "Login", "Login")
            </div>
    
        }

    </body>



